<div class="container" style="margin-top: 3em;">
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-10 col-md-12">
            <h2>This website contains graphic and mature content.</h2>
            <p>Welcome! This looks like your first time here. Lots of people come to the art archive for lots of reasons. This welcome page is created to get you where you wanna go!</p>
            <p>The art archive contains every art piece I have ever commissioned, including kinks that are not suitable for all audiences. Rather than subject everyone to my likes, Here are some helpful links.</p>
            <div class="row">
              <div class="col-md-3">
                <a href="https://github.com/shishome" class="btn d-block btn-dark">Github, for Source Code</a>
              </div>
              <div class="col-md-3">
                <a href="https://twitter.com/fluffsune" class="btn d-block btn-info">Twitter for Contact</a>
              </div>
              <div class="col-md-3">
                <a href="https://yuu.im" class="btn d-block btn-primary">Main website for projects</a>
              </div>
              <div class="col-md-3">
                <a href="https://google.com" class="btn d-block btn-secondary">To Google!</a>
              </div>
            </div>
          <hr>
            <p>If you came here for the art, that's cool too! Just so you know, you must be 18 or older to continue into the content of this site.</p>
            <div class="row">
              <div class="col-md-3">
                <button (click)="acknowledge()" class="btn d-block btn-primary">I am over 18, show me everything but weird stuff</button>
              </div>
              <div class="col-md-3">
                <button (click)="acknowledgeHidden()" class="btn d-block btn-dark">I am over 18, show me everything weird!</button>
              </div>
              <div class="col-md-3">
                <button (click)="acknowledgeSFW()" class="btn d-block btn-light">I am over 18, no kinks or weird stuff please.</button>
              </div>
              <div class="col-md-3">
                <button (click)="bye()" class="btn d-block btn-info">I am not eligible, please send me away</button>
              </div>
            </div>
            <br>
            <small>Note: For those allowed in, you can toggle kink stuff on or off in the About page!</small>
        </div>
        <div class="col-lg-2 d-md-none d-lg-block">
          <img src="/assets/img/3.png" class="img-fluid" style="margin-bottom: 3.5em;">
          <img src="/assets/img/8.png" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
