.bg-custom-yuuk{
  box-shadow: inset 1px 1px rgb(255 255 255 / 20%), inset -1px -1px rgb(255 255 255 / 10%), 1px 3px 24px -1px rgb(0 0 0 / 15%);
  background-color: transparent;
  background-image: linear-gradient(
    125deg
    , rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.2) 70%);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 0px 0px 15px 15px;
  padding-left: 15px;
  padding-right: 15px;
  border-top: none;
  margin-bottom: 1.5em;
  z-index: 999;
}

.dropdown-menu {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-image: linear-gradient(
    125deg
    , rgba(35, 35, 35, 0.8), rgba(100, 100, 100, 1.0) 90%);
}
